.box-theme-basic {
	position: relative;
}
.box-theme-basic .box-resizing-HORIZONTAL {
	cursor: col-resize;
}

.box-theme-basic .box-resizing-VERTICAL {
	cursor: row-resize;
}

.box-theme-basic .box-table-top {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	overflow: hidden;
}
.box-theme-basic .box-table-top > div {
	display: table;
	padding-right: 32px; /*	pad for additional width of body's scrollbar */
}
.box-theme-basic .box-table-top table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
.box-theme-basic .box-table-top th {
	overflow: hidden;
	white-space: nowrap;
}
.box-theme-basic .box-table-body {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: scroll;
}
.box-theme-basic .box-table-body > div {
	display: table;
}
.box-theme-basic .box-table-body table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
.box-theme-basic .box-table-body td > div {
	overflow: hidden;
	white-space: nowrap;
}
.box-theme-basic .box-table-bottom {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

.box-theme-basic .box-wizard-form {
	height: 100%;
}
.box-theme-basic .box-wizard-body {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
}
.box-theme-basic .box-wizard-bottom {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

.box-theme-basic .box-split-resize {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
}

.box-theme-basic .box-split-main {
	position: absolute;
	left: 0px;
	right: 8px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
}

.box-theme-basic .box-split-divider {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 8px;
	overflow: hidden;
	cursor: col-resize;
}

.box-theme-basic .box-split-remainder {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
}